<?xml version="1.0" encoding="utf-8"?>
<packages>

  <!-- PowerShell -->
  <!-- See https://learn.microsoft.com/en-us/powershell/scripting/install/installing-powershell-on-windows?view=powershell-7.4#install-the-msi-package-from-the-command-line -->
  <package id="powershell-core" installArguments="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL=1 ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1" />
  <package id="openssh" />

  <!-- Browsers -->
  <package id="firefox" />
  <package id="googlechrome" />

  <!-- System Administration -->
   <package id="rsat" />

  <!-- Developer Tools -->
  <package id="filezilla" />
  <package id="git" />
  <package id="sql-server-management-studio" />

  <!-- Common Apps -->
  <package id="7zip" />
  <package id="adobereader" />
</packages>