name: Packer building a Master Image on Azure

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  packer-build:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ secrets.AWS_REGION || 'us-east-1' }}
      # Optional: enable Packer logging
      PACKER_LOG: "1"
      PACKER_LOG_PATH: "packer.log"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Packer
        uses: hashicorp/setup-packer@v1

      - name: Packer init
        run: packer init ./packer

      - name: Packer validate
        run: packer validate ./packer

      - name: Packer build
        run: packer build -on-error=ask ./packer/ami.pkr.hcl
